In [1]:
import folium
import kml2geojson
import geojson
import pandas as pd
import seaborn

df = pd.read_csv('DadesSabadell/PadroDistricteSexeAnyNaixement2015.csv')
df['Edat'] = 2018 - df['Any_Naixement']
grup = df.groupby(["Districte","Sexe"],as_index=False)

edat_Df = pd.pivot_table(grup["Edat"].mean(),columns=["Sexe"], index=["Districte"], values=["Edat"])
habitants_Df = pd.pivot_table(grup["Total"].sum(),columns=["Sexe"], index=["Districte"], values=["Total"])

tot_df = pd.concat([edat_Df, habitants_Df], axis=1)
tot_df['Districte'] = tot_df.index.astype(str)

tot_df.columns=[' '.join(col).strip() for col in tot_df.columns.values]
tot_df['Total'] = tot_df['Total H'] + tot_df['Total D']

district_geo = 'DadesSabadell/districtes.geojson'

map1 = folium.Map(location=[41.54329, 2.10942],zoom_start=13)
map1.choropleth(geo_data=district_geo, 
              data = tot_df,
              columns = ['Districte', 'Total'],
              key_on = 'feature.properties.description',
              fill_color='YlOrRd', 
              fill_opacity=0.7,
              legend_name = 'Població per districte')


map1.save('DadesSabadell/mapa.html')
tot_df

              Edat D     Edat H  Total D  Total H Districte  Total
Districte
1          55.537736  54.000000    27762    25050         1  52812
2          54.509804  54.000000    12561    11719         2  24280
3          55.000000  54.568627    17661    17081         3  34742
4          54.539216  52.500000    19627    18918         4  38545
5          54.069307  52.551020     9958     9590         5  19548
6          54.500000  54.049505    14803    14366         6  29169
7          53.030303  50.500000     4312     4394         7   8706

[Prem aquí i consulta el Mapa Generat... ](DadesSabadell/mapa.html)